<header class="header-wrapper session-wrapper wow animate__slideInDown" data-wow-duration="1s">
  <a href="/" class="title" title="<%- _p('index.home') %>"><%- _p('index.home') %></a>
  <ol class="right-menu">  
  <% Object.keys(theme.menu).forEach(function(menu){ %>
    <li title="<%- menu %>"><a href="<%- theme.menu[menu] %>"><%- menu %></a></li>
  <% }) %> 
  </div>
</header>