<div class="middle session-wrapper" style="width:980px;">
  <% temp = "$null" %>
  <% filterPosts().forEach(function(p){ %>
    <% if (p !== temp){ %>
      <h3><%- p %></h3>
      <% sortPosts().forEach(function(kpost){ %>
        <% k = kpost.slug.split("/").slice(0,-1).join("/") %>
        <% if(k === p){ %>
          <p style="margin-left: <%- (kpost.slug.split("/").slice(0,-1).length)*20 %>px;">
            <%- p?">":"" %><a href="<%- url_for(kpost.path) %>"><%- kpost.title %></a>
          </p>
        <% } %>
      <% }) %>
    <% } %>
    <% temp = p; %>
  <% }) %>
</div>