
<div class="middle">
  <% if(site.posts.data.length){ %>
    <ol class="article-list session-wrapper">
      <% site.posts.data.slice((page.current-1)*(config.per_page),page.current*(config.per_page)).forEach(function(post,ik){ %>
        <% moreIndex = post._content.indexOf(`<!--more-->`); %>
        <% index = moreIndex!==-1?moreIndex:theme.auto_more_length?theme.auto_more_length:300; %>
        <% a = ~~(Math.random()*255) %>
        <% b = ~~(Math.random()*255) %>
        <% c = ~~(Math.random()*255) %>
        <% d = Math.random()*0.5 + 0.5 %>
        <% if(post.published){ %>
          <li style="padding: 20px 30px;" class="article-list__item wow <%- ik%2==0?'animate__slideInLeft':'animate__slideInRight' %>" data-wow-duration=".5s">
            <a href="/<%- post.path %>">
              <h2 class="article-list__title"><%- post.title %></h2>
              <div class="article-list__meta">
                <p class="article-list__author">作者:<%- config.author %></p>
                <p class="article-list__time">更新:<%- date(post.updated) %></p>
                <% if(post.top){ %>
                  <p class="article-list__top" style="color:green;">置顶</p>
                <% } %>
              </div>
              <!-- <span class="article-list__label"><%-moreIndex%></span> -->
              <div class="article-list__content markdown-body"><%- markdown(post._content.slice(0,index)); %></div>
            </a>
          </li>
        <% } %>
      <% }) %>
    </ol>
  <% }else{ %>
    暂无数据
  <% } %>
</div>
<%- partial("./_widget/pagination") %>