<!DOCTYPE html>
<html>
  <head>
    <title><%- titlecase(theme.title) || titlecase(config.title) %></title>
    <!-- 响应式的关键，不设置的话页面会自动缩小 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="<%- theme.favicon || config.favicon%>" />
    <%- css('css/lib/scroll') %>
    <%- css('css/lib/normalize') %>
    <%- css('css/lib/media') %>
    <%- css('css/lib/markdown') %>
    <%- css('css/global') %>
    <% if(/index\.html$/.test(page.path)){ %>
      <%- css('css/index') %>
    <% } %>
  </head>
  <body>
